/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial,  sans-serif ;/*CSS phông chữ cho cả website*/
    scroll-behavior: smooth;/*Hành vi khi cuộn trang*/
}

/*
1.Làm việc từ trên xuống dưới, Từ ngoài vào trong
2.Từ tổng quan đến chi tiết
*/

/*
1. Vị trí của nó
2. Kích thước của nó(width hight)
3. Kiểu dáng của nó(tròn vông, kiểu chữ)
4.màu sắc
*/

/* Common: dùng chung */
.clear{
    clear: both;
}

/* khai báo biến trong CSS */
.text-line{
    color: #fff !important;
}

.text-center{
    text-align: center !important ;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-there{
    width: 33.33333%;
}
.col-two{
    width: 50%;
}
.col-full{
    width: 100%;
}
.btn{
    /* width: 108px ;
    height: 38px; */
    background-color: #000;
    padding: 10px 18px;
    color: #fff;
    margin-bottom: 16px;
    text-decoration: none;/* Bỏ phần gạch chân*/
    display: inline-block;
    border: none;
    
}
.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.pull-right{
    float: right !important;
}

/*Main*/
#main{
    
}

#header{
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav , .subnav{
    list-style-type: none;/* Bỏ style của thẻ li*/
}
#nav > li{
    display: inline-block;/*CSS cho chữ nằm ngang trong header*/
}
#nav li{
    position: relative;
}  
#nav > li > a{/* Thẻ a là con trục tiếp của thẻ li và li là con trục tiếp của thẻ #nav*/
    color: #fff;
    text-transform: uppercase;/* chuyển chữ hoa thành chữ thường*/
} 
#nav li a{
    text-decoration: none;/* Bỏ gạch chân cho thẻ a*/
    line-height: 46.5px;/* Căn giữa cho chữ trong header*/
    padding: 0px 24px;
    display: block;/*CSS kích thước theo thẻ a: Phụ thuộc vào line-height*/
}

#nav li:hover .subnav{
    display: block;
}


#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000; 
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute; 
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3) ;
}

#nav .subnav a{
    color: #000 ;
    padding: 0 12px;
    line-height: 46.5px;
}
#nav .nav-arow-down{
    font-size: 12.5px;
}

#header .mobie-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobie-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px 0 25px;
}


#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobie-menu-btn:hover{
    background-color: #ccc;
}

#header .mobie-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}


#slider{
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assets/img/slider/backgroud.jpg') center center / cover no-repeat;
    position: relative;
}
#slider .tex-content{
    position: absolute;
    bottom: 20px;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    color:#fff;
}

#slider .text-header{
    margin-bottom: 20px;
    font-weight: 500; /*Giamd độ dày của font size*/
    font-size: 24px;
}

#slider .text-description   {
   font-size: 15px;
}


#content .content-section{
        width: 800px;
        max-width: 100%;
        /* đẩy sang trái và phải một khoảng bằng auto --> đẩy ra giữa */
        margin-left: auto;
        margin-right: auto;
        padding: 64px 16px 112px;

        
}

#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px; /*đẩy các chữ cách nhau một khoảng */
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-style: italic;/* CSS chữ nghiêng*/
    opacity: 0.6;/*Làm mờ chữ đi từ 0-1*/
}

#content .about-text{
    text-align: justify;/* căn đoạn văn bản dạt đều sag 2 viền*/
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.4; /* CSS khoảng cách giữa các  dòng của 1 đoạn văn bản*/
}

#content .member-list{
    margin-top: 48px;
}

#content .member-name{
    font-size: 15px;
}
#content .member-avartar{
    width: 154px;
    height: 154px;
    margin-top: 15px;
    border-radius: 4px;/* Bo tròn viền ảnh*/
}

/* tour-sestion */
.tour-sestion{
    background-color: #000;
}
.tickets-list{
    /* margin-top: 30px; */
    list-style: none;/* Loại bỏ dấu chấm của thẻ li*/
    background-color:#fff ;
    border: 1px solid;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 4px 4px;
}

.tickets-list .quantity{
    background-color: #000;
    color: #fff;
    float: right;/* Nhất định phải có*/
    width: 24px;
    height: 24px;
    /* mUốn đăth margin âm, width height thì pải có float*/
    margin-top: -3px;/* margin âm đo thẻ li có pading nhỏ hơn whit và hight của quantity*/
    margin-right: 16px;
    border-radius: 50%;
    text-align: center; /* Căn giữa theo chiều ngang*/
    line-height: 24px;/* Căn giwuax theo chiều dọc. Phụ thuộc vào chiều cao của thằng chứa nó*/
}

/* places */
.places-list{
    margin-top: 16px;
    
}

.places-img{
    width: 100%;
    width: 245px;
    height: 184px;
    display: block;/*Keo sát 2 thẻ div*/
}

.places-img:hover{
    opacity: 0.6;
    
}
.places-body{
    background-color: #fff;
    padding: 0.15px 16px;
    font-size: 15px;
}
.places-heading{
    font-size: 15px;
    font-weight: 550;
    margin: 15px 0;
}
.places-time{
    opacity: 0.6;
}
.places-desc{
    margin: 15px 0;
    line-height: 1.4;/* CSS khoảng cách giữa các chữ*/
}

/* contect form */
.contect-content{
    margin-top: 48px;
}
.contect-info{
    font-size: 18px;
    line-height: 1.4;
}

.contect-info  i[class*="ti-"]{ /*CSS nâng cao [class*="ti-"]: Thể hiện trong class contect-info có chứa chuỗi ti- thì css*/
    width: 30px;
}

.contect-info a{
    color: #101aef;
    opacity: 0.8;
}

.contect-info a:hover{
    opacity: 1;
}

.contect-form{
    font-size: 15px;
}

.contect-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* map sesition  */
.map-sesition img{
    width: 100%;
    height: 1000px;
}

#footer{
    padding: 64px 16px;
   text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

#footer .copyright{
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;/* Căn giwuax theo chiều dọc của thằng cha*/
    justify-content: center;/* Căn giữa theo chiều ngang của thằng cha*/
}

.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    animation: modaFadeIn ease 0.5s; /*Sử dụng kayfame đã khai báo . ease: Kiểu chuyển động, 0.5: time chuyển động*/
}
.modal-header{
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    line-height: 1.6;
}
.modal-heading-icon{
    margin-right: 16px;
}
.ti-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;/* chuyển con trỏ chuột thành bàn tay khi bấm vào*/
    opacity: 0.8;/* Làm mờ đối tượng*/
}
.ti-close:hover{
    opacity: 1;
}
.modal-body{
    padding:16px;
}
.modal-lable{
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}
.modal-input{
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
    font-size: 15px;
    margin-bottom: 24px;
}
#by-tickets{
    width: 100%;
    padding: 18px;
    background-color: #009688;
    color: #fff;
    border: #fff 1px;
    text-transform: uppercase;/* Viết đậm chữ */
    text-transform: uppercase;/*Chuyển chữ thường thành chữ in*/
}
#by-tickets:hover{
    background-color: rgb(134, 132, 132);
    opacity: 0.9;
}
.modal-footer{
    padding: 10px 8px 18px 8px;
    text-align: right;
}
.modal-footer a{
    color:#2196F3;
}

@keyframes modaFadeIn { /* Tạo hiệu ứng chuyển động*/
    from{    /*from to: Từ đoạn nào đến đoạn nào*/
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 740px){

.s-mt-8{
    margin-top: 8px;
}
#nav {
        display: block;
}

#nav > li {
    display: block;
}
#nav li a{
    padding: 1px 24px;
}

#nav .subnav{
    position: initial;
    background-color: #333;
}
#nav .subnav a{
    color: #fff;
    padding: 5px 41px;
}

#header .search-btn{
    display: none;
}

#header .mobie-menu-btn{
    display: block;
}

#nav > li:first-child{
    display: inline-block;
}

#header{
    overflow: hidden;
}
#content .member-item{
    padding-top: 30px;
    width: 100%;
}

#content .member-avartar{
    width: 60%;
    height: 55%;
}
.s-full-width,
.s-col-full{
    width: 100%!important;
}
.places-img{
    width: 100%;
    height: 100%;
}
.contect-form {
    margin-top: 32px;
}
.map-sesition img{
    width: 100%;
    height: 100%;
}
}

@media (max-width: 1023px){
    .btn{
        padding: 17px 16px;
    }
    .contect-form .form-control{
        padding: 15px;
    }
    .socials-list{
        font-size: 48px;
    }
    #footer .socials-list a{
        margin: 0 8px;
    }
    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
    #nav .subnav a{
        padding: px 12px;
    }
    .contect-info{
        line-height: 2;
    }
}
