:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --boder-coler:#dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-height: 120px;
    --navbar-height: 40px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header__sort-bar-hight: 46px;
}

*{
    box-sizing: inherit;  /*Kế thừa thẻ chứa nó*/
}

html{
    font-size: 62.5%; /*62.5% = 10 px*/
    line-height: 1.6rem;  /* 1.6 rem = 16 px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsive */

.grid__row{
    display: flex;
    flex-wrap: wrap; /* cho phép xuống dòng*/
    margin-left: -5px;
    margin-right: -5px;
}

/* tesst   */

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
/*Animation*/

@keyframes fedeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* modal  */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation:fedeIn linear 0.2s ;
}

.modal__overlay{
    --growth-from: 0.7;
    --growth-to: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal__body{
    /* position: absolute; */
    margin: auto;
    position: relative;
    z-index: 1;
    animation:growth linear 0.2s ;
}

/* btn style  */

.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    background-color: var(--white-color);
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn-normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    
}

/* select  */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.select-input__lable{
    font-size: 1.4rem;
}

.select-input-icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding:8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link{
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}


/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}

.pagination-item__link{
    --hight: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: #939393;
    min-width: 40px;
    height: var(--hight);
    line-height: var(--hight);
    border-radius: 2px;
}

